.user-search input{
    padding: 10px;
    border: 3px black solid ;
}
.user-search button{
    padding: 7px;
    background-color: black;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
.user-search button:hover{
    color:yellow;
}
.user-search{
    display: flex;
    box-sizing: border-box;
}
